/* Google font */


body {
	font-size: 16px;
	color: #65696B;
	background-color: white;
}

a.collapsed {
	display: block;
}

a#accordion {
	display: block;
}

.panel-title {
	display: block;
	cursor: pointer;
}

.container-fluid {
	text-align: center;
}
	
p.subtitle {
	font-size: 20px;
	color: #95989A;
}

p#footer {
	font-size: 12px;
	color: #DDF1DD;
	display: inline-block
}

p#footer-title {
	font-size: 12px;
	font-weight: bold;
	color: #DDF1DD;
	display: inline-block;
	line-height: 0px;
}

p#footer-sm {
	margin-top: 40px;
	font-size: 10px;
	color: #DDF1DD;
	display: inline-block
}
	
i.fa.fa {
	color: #DDF1DD;
	float: left;
	padding-right: 20px;
}
	
.jumbotron {
	background-color: #58B957; /* Green */
	padding: 20px 60px 60px 60px;
	text-align: left;
	margin-bottom: 0px;
}

.underline {
	padding: 20px 70px;
	border-bottom: 1px solid #D2DBDF;
	display: inline-block;
}

.underline2 {
	border-bottom: 1px solid #D2DBDF;
	display: inline-block;
}

div#about, div#about-accordion, div#partners, div#services, div#map {
	padding: 20px;
}

div#footer-row.row {
	line-height: 0px;
}

div#footer-arrow.row {
	padding-bottom: 30px;
	font-size: 50px;
}

hr {
	display: block;
    margin-top: 0;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
	color: #DDF1DD;
}

.glyphicon {
	color: #DDF1DD;
}


/* START Gallery CSS */

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.port-image {
    width: 100%;
}

img.img-responsive {
	width: 100%;
}

.partners {
    margin: 0px;
	padding: 0px;
}

.shopbanner {
  background: url("images/shop.jpg") no-repeat center top;
  background-size: contain;
  height: 400px;
  margin-top: 50px;
}

p.shop{
	text-align: center;
}

/* END Gallery CSS */

