/* Google font */

/* Navbar START */

*{
  margin: 0;
	padding: 0;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
}
*:before,
*:after{
	-webkit-box-sizing: border-box;
}

header{
	width: 100%;
	height: 100px;
	background: #128f87;
}
.header-left,
.header-right{
	position: relative;
	color: white;
	float: left;
}
.header-left{
	width: 40%;
}
.header-right label{
	position: absolute;
	top: -0.5em;
	right: 0;
	cursor: pointer;
}
.header-right span{
	position: relative;
	width: 2em;
	height: 2em;
	-webkit-transition: all .3s ease;
}
.header-right span:hover{
	color: #ed2433;
	font-weight: bold;
	text-decoration: none;
}
.header-right span:before,
.header-right span:after{
	content: '';
	position: absolute;
	width: 2em;
	height: .5em;
	top: 4px;
	left: 0;
	background: white;
}
.header-right span:after{
	top: 14px;
}
.header-right{
	width: 60%;
	text-align: right;
	padding-top: 55px;
}
#open{
	display: none;
}
h1{
	font-weight: 300;
	line-height: 40px;
}
a{
	text-decoration: none;
	color: white;
}

nav>a{
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 40px;
	padding: 0 1.1em;
	-webkit-transition: all .3s ease;
  border-bottom: 5px solid #128f87;
}
nav>a:hover{
	color: #fff;
	text-decoration: none;
  border-bottom: 5px solid #fff;
}
.hidden-desktop{
	display: none;
}

img.iso {
	display: inline;
	padding-top: 8px;
}

.navbar-brand {
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	display: inline;
}

a.products-content {
    border-bottom: 5px solid #128f87;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

div.products-dropdown1 {
    position: relative;
    display: inline-block;
}

div.products-dropdown2 {
    display: none;
    position: absolute;
    background-color: #128f87;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-size: 11px;
	text-align:center;
}

div.products-dropdown2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	border: 1px solid #12817a;
}

div.products-dropdown2 a:hover {
	background-color: #1aa59c;
	color: #fff;
	text-decoration: none;
	border-bottom: 5px solid #fff;
}

div.products-dropdown1:hover div.products-dropdown2 {
    display: block;
	color: #fff;
	text-decoration: none;
}

div.products-dropdown1:hover a.products-content {
    color: #fff;
	text-decoration: none;
	border-bottom: 5px solid #fff;
}

/* Small monitor */
@media (max-width: 979px){
	nav>a{
		padding: 0 1.5em;
	}
	.section-left,
	.section-right{
		width: 100%;
	}
	.section-left{
		text-align: center;
	}
	.section-right{
		padding: 0 0 2em;
	}
	.section-title{
		font-size: 4em;
		margin-bottom: .2em;
	}
	.section-tagline{
		font-size: 1.3em;
	}
	.learn-more{
		margin: 0 auto;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.container{
		width: 95%;
	}
	nav>a{
		padding: 0 2em;
	}
	h1{
		padding: .5em 0;
	}
	.header-left,
	.header-right{
		width: 100%;
		text-align: center;
	}
	.section-left,
	.section-right{
		width: 100%;
	}
	.section-left{
		text-align: center;
		padding: 2em 0;
	}
	.section-right{
		padding: 1em 0 2em;
	}
	.section-title{
		font-size: 3em;
		margin-bottom: .2em;
	}
	.section-tagline{
		font-size: 1.3em;
	}
	.learn-more{
		margin: 0 auto;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body{
		padding: 0 .5em;
	}
	.container{
		width: 90%;
	}
	nav{
		height: 0;
		overflow: hidden;
		-webkit-transition: all .3s ease;
	}
	input[type="checkbox"]:checked + nav{
		height: 205px;
		background: #128f87;
	}
	nav>a{
		padding: 0 1em;
		display: block;
		border-bottom: solid 1px rgba(255,255,255,.1);
	}
	h1{
		padding: .5em 0;
	}
	.header-left,
	.header-right{
		width: 100%;
		text-align: center;
	}
	.section-left,
	.section-right{
		width: 100%;
	}
	.section-left{
		text-align: center;
		padding: 1em 0;
	}
	.section-right{
		text-align: center;
		padding: 1em 0 2em;
	}
	.section-title{
		font-size: 2.4em;
		margin-bottom: 0;
	}
	.section-tagline{
		font-size: 1em;
	}
	.learn-more{
		display: table;
		margin: 0 auto;
	}
	.hidden-desktop{
		display: block;
	}
}

/* Navbar END */

body {
	font-size: 16px;
	color: #65696B;
	background-color: white;
}

a.collapsed {
	display: block;
}

a#accordion {
	display: block;
}

a:hover {
	text-decoration: none;
}

.panel-title {
	display: block;
	cursor: pointer;
}

.panel-default>.panel-heading {
	color: #6d6b6b;
	background-color: #cdd6df;
	border-color: #ddd;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
		text-align: justify;
}

.container-fluid {
	text-align: center;
	margin-bottom: 40px;
}
	
p.subtitle {
	font-size: 18px;
	color: #65696B;
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6;
}

p#footer {
	font-size: 12px;
	color: #ddf1ef;
	display: inline-block
}

p#footer-title {
	font-size: 12px;
	font-weight: bold;
	color: #ddf1ef;
	display: inline-block;
	line-height: 0px;
}

p#footer-sm {
	margin-top: 40px;
	font-size: 10px;
	color: #ddf1ef;
	display: inline-block
}
	
i.fa.fa {
	color: #ddf1ef;
	float: left;
	padding-right: 20px;
}
	
.jumbotron {
	background-color: #128f87; /* Green */
	padding: 20px 60px 60px 60px;
	text-align: left;
	margin-bottom: 0px;
	margin-top: 50px;
}

.underline {
	padding: 20px 70px;
	border-bottom: 1px solid #D2DBDF;
	display: inline-block;
}

.underline2 {
	border-bottom: 1px solid #D2DBDF;
	display: inline-block;
}

div#about, div#about-accordion {
	padding: 20px;
	margin-top: 20px;
}

div#partners1 {
	padding: 20px;
	margin-top: 20px;
}

div#services {
	padding: 20px;
}

div#footer-row.row {
	line-height: 0px;
}

div#footer-arrow.row {
	padding-bottom: 30px;
	font-size: 50px;
}

hr {
	display: block;
    margin-top: 0;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
	color: #ddf1ef;
}

.glyphicon {
	color: #ddf1ef;
}


/* START Gallery CSS */

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.port-image {
    width: 100%;
}

img.img-responsive {
	width: 100%;
}

.partners {
    margin: 0px;
	padding: 0px;
}

h1.shop {
	font-size: 24px;
}

p.shop {
	font-size: 16px;
}

/* END Gallery CSS */

/* Carousel CSS */

.carousel {
	padding-top: 50px;
	padding-bottom: 180px;
	background: #555;
}

.carousel-caption {
  position: absolute;
  left: 10%;
  right: 5%;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 30px;
  color: #fff;
  text-align: left;
  top: 100%;
  transform: translateY(-100%);
}

.carousel2 {
	padding-bottom: 150px;
	background: #555;
}

.carousel2-caption {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 30px;
  color: #fff;
  text-align: left;
  top: 100%;
  transform: translateY(-100%);
}

/* Declare heights because of positioning of img element */

.btn-primary, .btn, .btn-lg {
    color: #fff;
    background-color: #128f87;
    border-color: #0f766f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-lg:focus, .btn:focus {
    color: #fff;
    background-color: #15aaa0;
    border-color: #0f766f;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #128f87;
	border-color: #0f766f;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px hsla(124, 46%, 37%, 0.56);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;	
}

.carousel-control:focus, .carousel-control:hover {
    color: #fff;
	text-decoration: none;
	outline: 0;
    opacity: .9;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #128f87;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #128f87;
}

.container1 {
    max-width: 930px;
  }
  
.carousel-inner {
	overflow: visible;
}

/* END Carousel CSS */

/* START PRODUCTS CSS */

div#product-title.row {
	text-align: center;
}

div#thumb-products.thumbnail {
	border: 1px solid #128f87;
	padding: 0px;
}

a#caption-btn.btn.btn-block {
	border: 1px solid #128f87;
}

a#caption-btn.btn.btn-block:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #128f87;
}



/* END PRODUCTS CSS */

/* START Services CSS */

img#services.img-responsive {
	border-radius: 50%;
}

p.subtitle2 {
	font-size: 12px;
	color: #95989A;
	padding-top: 15px;
}

.h3, h3 {
	font-size: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}

/* END Services CSS */

/* START SUBSCRIBE STYLE */

/* puts Mailchimp fields in a row */
.horizontal-mailchimp .mc-field-group,
.horizontal-mailchimp .clear {
     display: inline-block;
}

#mc_embed_signup {
	clear:left; 
	font-size:12px;
	padding-bottom: 20px;
	width: 100%;
}

#mc_embed_signup form {
	text-align: left;
	padding: 10px 0 10px 0;
}

label {
	color: #ddf1ef;
	font-size: 16px;
}

input#mce-EMAIL.email {
	padding: 3px;
}

input.button {
  color: #ffffff;
  font-size: 12px;
  background: #555;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  border: none;
}

input.button:hover {
  background: #6b6b6b;
  text-decoration: none;
}

/* END SUBSCRIBE STYLE */

/* START METROHM-AUTOLAB PAGE */

div#metrohm-autolab.container-fluid {
	padding-top: 100px;
}

p.metrohm-title {
	font-size: 18px;
	padding-top: 40px;	
	padding-bottom: 10px;
	font-weight: bold;
	color: #128f87;
}

p.metrohm-subtitle {
	font-size: 16px;
	padding-top: 20px;
}

img#metrohm-logo.img-responsive {
	height: 150px;
	width: auto;
	padding: 25px;
}

/* END METROHM-AUTOLAB PAGE */

/* PARTNERS NAV */

nav#partners.navbar.navbar-default.navbar-fixed-top {
	font-size: 11px !important;
}

/* START DROPSENS PAGE */

div#dropsens.container-fluid {
	padding-top: 100px;
}

p.dropsens-title {
	font-size: 18px;
	padding-top: 40px;	
	padding-bottom: 10px;
	font-weight: bold;
	color: #00afef;
}

p.dropsens-subtitle {
	font-size: 16px;
	padding-top: 20px;
	text-align: justify;
}	
	
img#dropsens-logo.img-responsive {
	height: 100px;
	width: auto;
	padding: 25px;
}
	
/* END DROPSENS PAGE */

/* START REGATRON PAGE */

div#regatron.container-fluid {
	padding-top: 100px;
}

p.regatron-title {
	font-size: 18px;
	padding-top: 40px;	
	padding-bottom: 10px;
	font-weight: bold;
	color: #01a6ff;
}

p.regatron-subtitle {
	font-size: 16px;
	padding-top: 20px;
	text-align: justify;
}	
	
img#regatron-logo.img-responsive {
	height: 150px;
	width: auto;
	padding: 25px;
}

/* END REGATRON PAGE */

/* START NATIONAL INSTRUMENTS PAGE */

div#natinstruments.container-fluid {
	padding-top: 100px;
}

p.natinstruments-title {
	font-size: 24px;
	padding-top: 40px;	
	padding-bottom: 10px;
	font-weight: bold;
	color: #065fa3;
}

p.natinstruments-title2 {
	font-size: 20px;
	padding-top: 40px;	
	padding-bottom: 10px;
	font-weight: bold;
	color: #065fa3;
}

p.natinstruments-title3 {
	font-size: 18px;
	padding-top: 40px;	
	padding-bottom: 10px;
	font-weight: bold;
	color: #065fa3;
	text-align: left;
}

p.natinstruments-subtitle {
	font-size: 16px;
	padding-top: 20px;
	text-align: justify;
}	
	
img#natinstruments-logo.img-responsive {
	height: 140px;
	width: auto;
	padding: 25px;
}

/* END NATIONAL INSTRUMENTS PAGE */


/* START LIFE SCIENCE PAGE */

div.pdf-download {
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 25px;
}

img.icon-pdf {
	float: left;
	max-height: 44px;
}

a.pdf-link {
	float: left;
	padding-left: 10px;
	padding-top: 20px;
	color: #128f87;
	font-weight: bold;
}

img#nanovex1.img-responsive {
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}

p#nanovex-title {
	font-size: 18px;
	color: #f05a1b;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 35px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6;
}

p#nanovex-subtitle {
	font-size: 18px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6;
}

div#nv-content.row {
	padding-left: 150px;
	padding-right: 150px;
}

@media (max-width: 978px) {
	div#nv-content.row {
		padding: 0px;
		padding: 0px;
	}
}

div#thumb-nano.thumbnail {
	border: 1px solid #f05a1b;
	padding: 0px;
}

a#nano-btn.btn.btn-block {
	border: 1px solid #f05a1b;
	background-color: #f05a1b;
}

a#nano-btn.btn.btn-block:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #f05a1b;
}

p.subtitle2-nano {
	font-size: 12px;
	color: #95989A;
	padding-top: 15px;
	min-height: 183px;
	height: 183px;
}

p#bioquochem-title {
	font-size: 18px;
	color: #5C2684;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 35px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6;
}

p#bioquochem-subtitle {
	font-size: 18px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6;
}

div#thumb-bio.thumbnail {
	border: 1px solid #5C2684;
	padding: 0px;
}

a#bio-btn.btn.btn-block {
	border: 1px solid #5C2684;
	background-color: #5C2684;
}

a#bio-btn.btn.btn-block:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #5C2684;
}

p.subtitle2-bio {
	font-size: 12px;
	color: #95989A;
	padding-top: 15px;
	min-height: 70px;
	height: 70px;
}

/* END LIFE SCIENCE PAGE */

/* START EDUCATION KITS PAGE */

img#einstein-logo.img-responsive {
	max-height: 120px;
	width: auto;
}

img#einstein1.img-responsive {
	max-height: 120px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

p#einstein-subtitle {
	text-align: justify;
	margin-bottom: 50px;
}

div#ein-content.row {
	padding-left: 150px;
	padding-right: 150px;
}

@media (max-width: 978px) {
	div#ein-content.row {
		padding: 0px;
		padding: 0px;
	}
}

div#thumb-ein.thumbnail {
	border: 1px solid #0181ca;
	padding: 0px;
}

p.subtitle2-ein {
	font-size: 12px;
	color: #95989A;
	padding-top: 15px;
	min-height: 85px;
	height: 85px;
}

a#ein-btn.btn.btn-block {
	border: 1px solid #0081ca;
	background-color: #0081ca;
}

a#ein-btn.btn.btn-block:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #0081ca;
}

img#hfc-logo.img-responsive {
	max-height: 100px;
	width: auto;
}

p#hfc-title {
	padding-top: 50px;
	color: #1987B6;
}

#hfc-glyiphicon {
	color: #16a1dc;
}

p#hfc-subtitle2.subtitle2 {
	text-align: left;
	color: #555555;
	padding-bottom: 15px;
	padding-top: 15px;
}

div#hfc-content.row {
	padding-left: 150px;
	padding-right: 150px;
}

@media (max-width: 978px) {
	div#hfc-content.row {
		padding: 0px;
		padding: 0px;
	}
}

div#thumb-hfc.thumbnail {
	border: 1px solid #1987B6;
	padding: 0px;
}

p.subtitle2-hfc {
	font-size: 12px;
	color: #95989A;
	padding-top: 15px;
	min-height: 70px;
	height: 70px;
}

a#hfc-btn.btn.btn-block {
	border: 1px solid #1987B6;
	background-color: #1987B6;
}

a#hfc-btn.btn.btn-block:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #1987B6;
}

img#kh-logo.img-responsive {
	max-height: 150px;
	width: auto;
}

p#kh-title {
	padding-top: 50px;
	padding-bottom: 10px;
	color: #E55A19;
}

img#kh1.img-responsive {
	max-height: 500px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

div#thumb-kh.thumbnail {
	border: 1px solid #E55A19;
	padding: 0px;
}

p.subtitle2-kh {
	font-size: 12px;
	color: #95989A;
	padding-top: 15px;
	min-height: 85px;
	height: 85px;
}

a#kh-btn.btn.btn-block {
	border: 1px solid #E55A19;
	background-color: #E55A19;
}

a#ka-btn.btn.btn-block:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #E55A19;
}

/* END EDUCATION KITS PAGE */

/* START MEASURING SYSTEMS PAGE */

img#ni-logo.img-responsive {
	max-height: 90px;
	width: auto;
}

p#ni-title {
	color: #065fa3;
	text-align: left;
	padding-left: 15px;
}

img#ni1.img-responsive {
	margin-right: auto;
	margin-left: auto;
	max-height: 130px;
	width: auto;
	margin-bottom: 30px;
}

div#thumb-ni.thumbnail {
	border: 1px solid #065fa3;
	padding: 0px;
}

p.subtitle2-ni {
	font-size: 12px;
	color: #95989A;
	padding-top: 15px;
	min-height: 85px;
	height: 85px;
}

a#ni-btn.btn.btn-block {
	border: 1px solid #065fa3;
	background-color: #065fa3;
}

a#ni-btn.btn.btn-block:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #065fa3;
}

div#ni-content.row {
	padding-left: 150px;
	padding-right: 150px;
}

@media (max-width: 978px) {
	div#ni-content.row {
		padding: 0px;
		padding: 0px;
	}
}

img#ni2.img-responsive {
	max-height: 200px;
	width: auto;
	margin-left: auto;
}

#ni-glyiphicon {
	color: #065fa3;
}

img#lj-logo.img-responsive {
	max-height: 60px;
	width: auto;
}

p#lj-title {
	color: #701313;
	text-align: left;
	padding-left: 15px;
	padding-top: 40px;
}

div#thumb-lj.thumbnail {
	border: 1px solid #701313;
	padding: 0px;
}

p.subtitle2-lj {
	font-size: 12px;
	color: #95989A;
	padding-top: 15px;
	min-height: 85px;
	height: 85px;
}

a#lj-btn.btn.btn-block {
	border: 1px solid #701313;
	background-color: #701313;
}

a#lj-btn.btn.btn-block:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #701313;
}

div#lj-content.row {
	padding-left: 150px;
	padding-right: 150px;
}

@media (max-width: 978px) {
	div#lj-content.row {
		padding: 0px;
		padding: 0px;
	}
}

img#om-logo.img-responsive {
	max-height: 60px;
	width: auto;
}

p#om-title {
	color: #006BB5;
	text-align: left;
	padding-left: 15px;
	padding-top: 40px;
}

div#thumb-om.thumbnail {
	border: 1px solid #006BB5;
	padding: 0px;
}

li#om-list {
	font-size: 12px;
	padding-left: 20px;
	color: #95989A;
	text-align: left;
	list-style-type: none;
}

li#om-list:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}

div#om-caption.caption {
	min-height: 120px;
	height: 120px;
}

a#om-btn.btn.btn-block {
	border: 1px solid #006BB5;
	background-color: #006BB5;
}

a#om-btn.btn.btn-block:hover {
	text-decoration: none;
	color: white;
	border: 1px solid #006BB5;
}

div#om-content.row {
	padding-left: 150px;
	padding-right: 150px;
}

@media (max-width: 978px) {
	div#om-content.row {
		padding: 0px;
		padding: 0px;
	}
}

/* END MEASURING SYSTEMS PAGE */